<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><img src="assets/logo5.png" class="card-img-top" alt="..."></h5>

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="" routerLinkActive="active">Dashboard</a>
    <a class="p-2 text-dark" routerLink="clients" routerLinkActive="">Clients</a>
    <a class="p-2 text-dark" routerLink="products" routerLinkActive="">Products</a>
    <a class="p-2 text-dark" routerLink="users" routerLinkActive="">Users</a>
    <a class="p-2 text-dark" routerLink="visitors" routerLinkActive="">Visitors</a>
    <a class="p-2 text-dark" routerLink="appointments" routerLinkActive="">Appointments</a>
  </nav>

  <a class="btn btn-outline-primary" routerLink="login" routerLinkActive="">Login</a>

</div>
<router-outlet></router-outlet>
